<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application android:theme="@style/Theme.PointageTravail" android:label="@string/app_name" android:resizeableActivity="true">
<activity android:name=".MainActivity" android:exported="true">

</activity>
<receiver android:name=".PointageWidgetProvider" android:exported="false">
<intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
<meta-data android:name="android.appwidget.provider" android:resource="@xml/pointage_widget_info"/>
</receiver>

        <!-- Icône HP rouge : hors travail -->
        <activity-alias
            android:name=".IconRed"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/hp_icon_red"
            android:label="HP Travail"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Icône HP verte : entrée en cours -->
        <activity-alias
            android:name=".IconGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/hp_icon_green"
            android:label="HP Travail"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
